#blurry-filter {
  width: 100%;
  height: 9rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cfilter id='f'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4' numOctaves='1'/%3E%3C/filter%3E%3Crect width='100' height='100' style='filter:url(%23f)' opacity='.2'/%3E%3C/svg%3E");
  mask: linear-gradient(black 7rem, transparent);
  -webkit-mask: linear-gradient(black 7rem, transparent);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  pointer-events: none;
  touch-action: none;
  }
  
  * {
      font-family: "Open Sans", sans-serif;
  }
  
.Header > body {
  margin: 0;
  padding: 0;
  background-color:#EEE;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  cursor: default;
  }
  
.Header > *, *:before, *:after {
  box-sizing: inherit;
  }
  
.Header > header {
  width: 100%;
  height: 8rem;
  position: sticky;
  top: 0;
  z-index: 1;
  }
.Header > header > div {
  width: calc(100% - 3rem);
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  }
  
  #title {
  width: 100%;
  }
  #title .parent {
  line-height: 1em;
  color: #666;
  }
  #title .name {
  font-size: 2em;
  font-weight: bold;
  color: #333;
  mix-blend-mode: difference;
  }
  
  #reference {
  display: flex;
  }
  #reference > a {
  color: #444;
  }
  #reference > a + a {
  margin-left: 1rem;
  }
  
  .Header >  main, #folders {
  width: calc(100% - 3rem);
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1.5rem;
  }
  
.Header > main > article {
  width: 100%;
  height: 32px;
  padding: 1rem;
  background-color: #FFF;
  }
  
  #folders {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  }
  #folders > article {
  width: 70%;
  height: 4rem;
  padding: 0 1.5rem;
  background-color: #FFF;
  border-radius: 1rem;
  line-height: 4rem;
  transition: all 100ms ease-out;
  text-align: center;
  
  }
  #folders > article:hover {
  box-shadow: 0 16px 16px -4px rgba(0, 0, 0, 0.1);
  transform: scale(1.02);
  }
  
  .card {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      background-size: cover;
      border-radius: 1rem;
      transition: all 100ms ease-out;
      margin: 0;
  }

  .card > img {
    width:100%; 
    border-top-left-radius: 1rem; 
    border-top-right-radius: 1rem; 
  }
  
  .card:hover {
      box-shadow: 0 16px 16px -4px rgba(0, 0, 0, 0.3);
      transform: scale(1.02);
  }
  .card:after {
      content: "";
      display: block;
  }
  
  .card-body {
      padding: 2px 16px;
  }
  
  .buttons-user {
      position: fixed;
    transition: all 300ms ease 0ms;
  }
  
  .btn {
    transition: 0.3s linear;
    background:  #809fff;
    border-radius: 5px;
      position: fixed;
      bottom: 400px;
    right: 0px;
      overflow: hidden;
    cursor: pointer;
    outline: none;
    border: none;
    color: #eee;
    padding: 0;
    margin: 0;
      animation-name: slide;
      animation-duration: 1.5s;
      &.down{
          bottom: 340px;
          right: 0px;
          animation-name: slide;
          animation-duration: 1.5s;
      }
  }
  
  .btn:hover{
    background: #1a66ff;
      bottom: 400px;
    right: 15px;
      &.down{
          background: #1a66ff;
      bottom: 340px;
    right: 20px;
      }
  }
  
  .btn span {
    font-family: "Open Sans", sans-serif;
    transition: transform 0.3s;
    display: inline-block;
      padding: 5px 15px;
    font-size: 1.2em;
    margin: 0;
      &.down {
          font-family: "Open Sans", sans-serif;
          transition: transform 0.3s;
          display: inline-block;
          padding: 5px 15px;
          font-size: 1.2em;
          margin: 0;
      }
    
  }
  
  .btn .add-icon{
    background: #333;
    border: 0;
    margin: 0;
  }
  .btn .information-icon {
      background: #333;
    border: 0;
    margin: 0;
  }
  
  .btn .add-icon {
      bottom: 0px;
    right: 0px;
      position: absolute;
    background: #333;
    z-index: 1;
      left: 0;
      top: 0;
  }
  
  .btn .information-icon {
      bottom: 0px;
    right: 0px;
      position: absolute;
    background: #333;
    z-index: 1;
      left: 0;
      top: 0;
  }
  
  .btn .create {z-index: 3; font-weight: bolder;}
  .btn .info {z-index: 3; font-weight: bolder;}
  
  .btn:hover .add-icon {
      transform: translateX(250%);
  }
  
  .btn:hover .information-icon {
      transform: translateX(250%);
  }
  
  footer {
  width: 100%;
  height: 8rem;
  }
  
  @keyframes slide {
      from {
          transform: translate(100%, 0);
      }
      to {
          transform: translate(0, 0);
      }
  }